body{
    background-color: black;
    color: red;
}
li{
    list-style-type: none;
}
#hobby{
    margin: 0 auto;
    text-align: center;
    
}
.floating-box {
    float: left;
    width: 425px;
    height: 600px;
    margin: 10px;
}